<nav>
	{{#if nav}}
		<ul>
			<li><a href="/user/">Home</a></li>
			<li><a href="/user/about/">About Us</a></li>
			<li><a href="/user/shownames/">Mongoose Crud</a></li>
		</ul>
	{{else if admin}}
		<ul>
			<li><a href="/admin/">Admin Home</a></li>
			<li><a href="/admin/about/">Admin About</a></li>
			<li><a href="/admin/logout/">Logout</a></li>
		</ul>
	{{else if crud}}
		<ul>
			<li><a href="/user/shownames/" style="width: 150px">Show Names</a></li>
			<li><a href="/user/addnameform/" style="width: 150px">Add Name</a></li>
			<li><a href="/user/updatenames/" style="width: 150px">Update Name(s)</a></li>
			<li><a href="/user/deletenames/" style="width: 150px">Delete Name(s)</a></li>
			<li><a href="/user/" style="width: 150px">Home</a></li>
		</ul>
	{{/if}}
</nav>