<main>
	<div class="row">
		<div class="col-md-12">
			<h1>Get Example</h1>
      		<input type="button" class="btn btn-primary" id="getInfo" value="Get Info">
      		<div id="result"></div>
		</div>
	</div>
	<script>
      document.getElementById('getInfo').addEventListener('click', getInfo, true);
      function getInfo(){
        var xhr;
        if (window.XMLHttpRequest) {
          xhr = new XMLHttpRequest();
        } else {
          /*CODE FOR OLDER BROWSERS*/
          xhr = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xhr.onreadystatechange = function() {
          /*IF EVERYTING IS OKAY THEN DISPLAY THE RESULT */
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("result").innerHTML = this.responseText;
          }
        };
        /* THIS IS A GET REQUEST IT ONLY GETS INFORMATION IT CANNOT SEND IT */
        xhr.open("GET", "/getexample", true);
        xhr.send();
      }
    </script>
</main>