<main>
	<div class="row">
		<div class="col-md-12">
			<p>This is a more practical AJAX example where I am using the MVC file structure.  Instead of putting the JavaScript in a seperate file, I embedded the JavaScript for each page to make it easier to understand.</p>

			<ul>
				<li><strong>Get Example</strong> Press the button and it gets information from the server. Just gets does not send.</li>
				<li><strong>Get JSON</strong> Press the button and it gets JSON information from the server and displays it as a list.</li>
				<li><strong>Get XML</strong> Press the button and it gets XML information from the server and displays it as a list.  On the backend I use the XML2JS module to parse the XML and put it into a JSON object.</li>
				<li><strong>Post</strong> Enter your first and last name and click the button.  Will send a JSON string to the backend, which will create a JSON object, parse it, create the sentence string and return the string.</li>
				<li><strong>Postfile</strong> Enter a file name and select a pdf file.  File and name will be sent and file and name information will be returned.</li>
			</ul>
		</div>
	</div>
</main>
