<main>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
		    	<label for="fname">File Name</label>
		    	<input type="fname" class="form-control" id="fname">
  			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
		    	<label for="file">Select File</label>
		    	<input type="file" class="form-control" id="file">
  			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<input type="button" id="sendFile" class="btn btn-primary" value="Send and Get Info and File">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="result"></div>
		</div>
	</div>
	<script>
      document.getElementById('sendFile').addEventListener('click', getInfo, true);
      function getInfo(){
        var xhr, formData, output, print;
        if (window.XMLHttpRequest) {
          xhr = new XMLHttpRequest();
        } else {
          /* CODE FOR OLDER BROWSERS */
          xhr = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xhr.onreadystatechange = function() {
          
          /*IF EVERYTING IS OKAY THEN DISPLAY THE RESULT */
          if (this.readyState == 4 && this.status == 200) {
            
            /* I RETURNED THE SENT OBJECTS AS STRINGS AND THEN TURNED THEM BACK INTO AN OBJECT TO DISPLAY*/
            output = JSON.parse(this.responseText);

            /*THESE ARE THE PROPERTIES OF THE FILE OBJECT*/
            print = "File destination - " + output.file.destination + "<br>";
            print += "File encoding - " + output.file.endcoding + "<br>";
            print += "Fieldname - " + output.file.fieldname + "<br>";
            print += "Mimetype - " + output.file.mimetype + "<br>";
            print += "Original Name - " + output.file.originalname + "<br>";
            print += "Sever Path - " + output.file.path + "<br>";
            print += "File Size - " + output.file.size + "<br>";

            /* THIS IS THE PROPERTY OF THE NAME OBJECT */
            print += "User entered file name - " + output.name.filename + "<br>";


            document.getElementById("result").innerHTML = print;
          }
        };

        /* I INSTATIATE THE FORM DATA OBJECT AND USE THAT TO SEND ME FILE AND THE TEXT. THE FORM DATA OBJECT IS GREAT FOR SENDING FILES VIA AJAX*/
        formData = new FormData();
        formData.append('file', document.getElementById('file').files[0]);
        formData.append('filename', document.getElementById('fname').value);

        /* UNLIKE THE PREVIOUS POST EXAMPLE I DO NOT WANT TO USE THE  application/x-www-form-urlencoded REQUEST HEADER, THUS I HAD COMMENTED IT OUT
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");*/


        /* THIS IS A POST REQUEST IT WILL SEND AND GET INFORMATION TO/FROM SERVER */
        xhr.open("POST", "/postfile", true);

        

        /* FOR THE FORMDATA I JUST SEND THE FORMDATA OBJECT NO STRINGIFY NEEDED. */
        xhr.send(formData);
      }
    </script>
</main>
