
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Ajax Example 6</title>
	
<!--below is a script which allows IE 8 to understand HTML 5 elements.-->
<!--[if lt IE 9]>
	<script>
		var elementsArray = ['abbr', 'article', 'aside', 'audio', 'bdi', 'canvas', 'data', 'datalist', 'details', 'figcaption', 'figure', 'footer', 'header', 'main', 'mark', 'meter', 'nav', 'output', 'progress', 'section', 'summary', 'template', 'time', 'video'];
		var len = elementsArray.length;
		for(i = 0; i < len; i++){
			document.createElement(elementsArray[i]);
		}
	</script>
<![endif]-->
<style type="text/css">
	/*#wrapper{width: 00px; margin: 0 auto;}*/
	table, td, th{border: 1px solid black;}
	table{border-collapse: collapse; margin: 10px;}
	th{background-color: #BBB;}
	th, td{padding: 5px;}
</style>
</head>
	<body>
	<div id="wrapper">
	<p>This will send a request to get xml data from emu news.</p>
	<input type="button" value="GET DATA FROM EMU NEWS" id='getdata' />
	<div id="response"></div>
	</div>
	
	<!-- call in my ajax class -->
	<script type="text/javascript" src="js/Ajax.js"></script>
	<script type="text/javascript">
		
		//create global variables
		var data, url;
		
		//add event listener to dropdown
		document.getElementById('getdata').addEventListener('click',getData,false);
		
		
		function getData(){
			//create url string to get xml data.  This string will be sent to the server.
			url = 'http://www.emich.edu/univcomm/rss/release_rss.php'
				
			//send xml request
			//NOTE: JavaScript does not allow you to do cross domain requests so we have to make the 
			//request to the server then use the request module to get the data.
			Ajax.sendRequest('/rest', handleRequest, url);
		}

		function handleRequest(req){
			//usually when getting xml data you would use req.responseXML
			//however in this case I had to use req.responseText and then
			//covert it to an xml object.
			var xml = req.responseText;
			xml = textToXML(xml);
			var response = document.getElementById('response');
			
			
			var items = xml.getElementsByTagName('item');
			//var titles = xml.getElementsByTagName('title');
			//var links = xml.getElementsByTagName('link');
			
			//get the lenth of the path same as title
			var len = items.length;
			
			//put output into table
			var output = '<table><thead><tr><th>Title</th><th>Link</th></tr></thead><tbody>';
			for (var i = 0; i < len; i++){
				output += '<tr>';
				//get data of elements
				output += '<td>'+items[i].getElementsByTagName('title')[0].firstChild.nodeValue+'</td>';
				output += '<td><a href="'+items[i].getElementsByTagName('link')[0].firstChild.nodeValue+'">'+items[i].getElementsByTagName('link')[0].firstChild.nodeValue+'</td>';
				output += '</tr>';
			}
			output += '</tbody></table>';
			
			//output result in response div
			response.innerHTML = output;
		}

		function textToXML (text) {
	      try {
	        var xml = null;
	        if ( window.DOMParser ) {
	          var parser = new DOMParser();
	          xml = parser.parseFromString( text, "text/xml" );
	          var found = xml.getElementsByTagName( "parsererror" );
	          if ( !found || !found.length || !found[ 0 ].childNodes.length ) {
	            return xml;
	          }
	          return null;
	        } else {
	          xml = new ActiveXObject( "Microsoft.XMLDOM" );
	          xml.async = false;
	          xml.loadXML( text );
	          return xml;
	        }
	      } catch (e) {
	        console.log(e.error)
	      }
	    }
	</script>
	</body>
</html>
