<main>
	<!-- I CREATED THE DIV OF TABLE SO I COULD ASSIGN AN EVENT LISTENER TO THAT INSTEAD OF THE TABLE, THIS ALLOWS ME MORE FLEXIBILITY IN DEALING WITH THE RE-LOADING OF THE TABLE VIA AJAX. -->
	<div id="table">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>File Name</th>
					
				</tr>
			</thead>
			<tbody>
				{{#each docs}}
					<tr>
						<td><a href="{{filePath}}">{{fileName}}</a></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
</div>
</main>