<nav>
	{{#if nav}}
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/getpage">Get example</a></li>
			<li><a href="/getjsonpage">Get json</a></li>
			<li><a href="/getxmlpage">Get xml</a></li>
			<li><a href="/postpage">Post</a></li>
			<li><a href="/postfileform">Post File</a></li>
		</ul>
	{{/if}}
</nav>