<main>
    <h2>Test Form</h2>
    <p id="msg" style="color: green;"></p>
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"  value="Fake Account">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address"  value="123 test st.">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city"  value="testcity">
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state"  value="MI">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip"  value="12345">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <input type="button" class="btn btn-primary" id="validateinfoBtn" data-action="add" value="Validate Info">
        </div>
    </div>
</main>