<main>
  <h2>Add Name</h2>
  <p style="font-size: 1.1em; color: green;">{{msg}}</p>
  <form action="/user/addname" method="post">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="fname">First Name:</label>
        <input type="text" class="form-control" id="fname" name="fname" value="Scott">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <label for="lname">Last Name:</label>
          <input type="text" class="form-control" id="lname" name="lname" value="Shaper">
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" name="email" id="email" value="sshaper@test.com">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="submit" id="addNameBtn" class="btn btn-primary" value="Add Name" />
      </div>
    </div>
  </div>
  </form>
</main> 