<main class="container">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Page Link</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="simpleGetObjectPage">simpleGetObject</a></td>
				<td>This is an example that displays the response object in the console</td>
			</tr>
			<tr>
				<td><a href="simpleGetTextPage">simpleGetText</a></td>
				<td>This is an example of a simple get that just gets some text</td>
			</tr>
			<tr>
				<td><a href="simpleGetJsonPage">simpleGetJson</a></td>
				<td>This is an example of a simple get that gets some JSON</td>
			</tr>
			<tr>
				<td><a href="simplePostJsonPage">simplePostJson</a></td>
				<td>This is an example of a simple post that sends and receives JSON</td>
			</tr>
			<tr>
				<td><a href="formDataObjectPage">formDateObject</a></td>
				<td>This is an example of using the formData object to get information from a form.  IMPORTANT NOTE: The formData object sends information as "multipart/form-data" so I had to add this to my form element  <code style="color: red">enctype="multipart/form-data"</code>.  I also had to install and use <a href="https://www.npmjs.com/package/multer">multer</a></td>
			</tr>
			<tr>
				<td><a href="uploadFilePage">uploadFile</a></td>
				<td>This is an example of uploading a file and form input text using fetch and formData object.  It is important to note that prior to the formData object it was very difficult to upload a file via AJAX.</td>
			</tr>
		</tbody>
	</table>
</main>