<main>
	<h2>Delete Names</h2>
	<form action="/user/deletenames" method="post">
		{{#each names}}
		  <div class="row">
		    <div class="col-md-6">
		      <div class="form-group">
		        <label style="display: inline; font-weight: normal"><input style="width: 5%; display: inline; height: 14px;" type="checkbox" class="form-control" name="deleteId" value="{{id}}">{{first_name}} {{last_name}} {{email}}</label>
		      </div>
		    </div>
		  </div>
		{{/each}}
		<div class="row">
		    <div class="col-md-6">
		      <div class="form-group">
		        <input type="submit" id="addNameBtn" class="btn btn-primary" value="Delete Names" />
		      </div>
		    </div>
		  </div>
	</form>

</main>