<main>
	<div class="row">
		<div class="col-md-12">
			{{{content}}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>The text belows is the stringified JSON that was created via the xml2js parseString method.  I had to reference this to understand how the JSON object was constructed in order to parse it.</p>
			<p>{{jsonobj}}</p>
		</div>
	</div>
</main>