<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{title}}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/public/css/main.css">
<!--below is a script which allows IE 8 to understand HTML 5 elements.-->
<!--[if lt IE 9]>
    <script>
        var elementsArray = ['abbr', 'article', 'aside', 'audio', 'bdi', 'canvas', 'data', 'datalist', 'details', 'figcaption', 'figure', 'footer', 'header', 'main', 'mark', 'meter', 'nav', 'output', 'progress', 'section', 'summary', 'template', 'time', 'video'];
        var len = elementsArray.length;
        for(i = 0; i < len; i++){
            document.createElement(elementsArray[i]);
        }
    </script>
<![endif]-->
</head>
<body>
<div class="container">
	<header>
		<h1>Mini-CMS {{heading}}</h1>
	</header>
	{{> navigation}}
	{{{body}}}
</div>
</body>
</html>	